---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - controlplane.cluster.x-k8s.io
  resources:
  - stewardcontrolplanes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - controlplane.cluster.x-k8s.io
  resources:
  - stewardcontrolplanes/finalizers
  verbs:
  - update
- apiGroups:
  - controlplane.cluster.x-k8s.io
  resources:
  - stewardcontrolplanes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - awsclusters
  - azureclusters
  - hetznerclusters
  - ionoscloudclusters
  - kubevirtclusters
  - nutanixclusters
  - openstackclusters
  - packetclusters
  - proxmoxclusters
  - tinkerbellclusters
  - vsphereclusters
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - kubevirtclusters/status
  - nutanixclusters/status
  - packetclusters/status
  verbs:
  - patch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - metal3clusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - steward.butlerlabs.dev
  resources:
  - tenantcontrolplanes
  verbs:
  - create
  - get
  - list
  - update
  - watch
